.linkContainer {
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
}

.goBackBtn {
  background-color: #f3f7fe;
  color: #3b82f6;
  border: none;
  border-radius: 8px;
  width: 150px;
  height: 45px;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goBackBtn:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}
